extends layout

block content
  h1.title #{ title }

  .content-text
    h2 #[strong #{ category.name }]
    p #[strong #{ category.description }]

  hr
  p.confirm-delete Do you really want to delete this Category?
    form(method="POST", action="")
      .form-group 
      input#categoryid.form-control(
        type="hidden",
        name="categoryid",
        required="true",
        value=category._id
      )

      button.submit(type="submit") Delete
