extends layout

block content
  h1.title Item: #{ item.name }

  h3 Category: #{ item.category.name }

  p.description #{ item.description }

  p Price: $ #{ item.price }

  p Stock: #{ item.stock } #{ item.unit }

  p Item create at: #{ item.create_at }

  hr
  .buttons-container
    p
      a.delete(href=item.url + "/delete") Delete Item
    p
      a.update(href=item.url + "/update") Update Item
