extends layout

block content
  h1.title= title

  h2 Item: #{ item.name }

  .content-text
    h3 #{ item.description }

    p Category: #{ item.category.name }
    p Price: $ #{ item.price }

    p Stock: #{ item.stock } #{ item.unit }

    p Item create at: #{ item.dates_ISOformatted }

    hr
    p.confirm-delete Do you really want to delete this Item?
  form(method="POST", action="")
    .form-group 
    input#itemid.form-control(
      type="hidden",
      name="itemid",
      required="true",
      value=item._id
    )

    button.submit(type="submit") Delete
