doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    .container
      block sidebar
        .sidebar
          header
            img(
              src="/images/fish_logo.png",
              alt="Logo",
              style="width: 150px; height: 150px"
            )

          ul.sidebar-menu
            li
              a(href="/")
                svg.icon(width="16px", height="16px")
                  include ../public/images/home-button-icon.svg
                span #[strong Home]
                //- span #[small Home]

            li
              a(href="") 
                |
                |
                |
                svg.icon(width="16px", height="16px")
                  include ../public/images/fmcg-products-icon.svg
                span #[strong Items]
              ul
                li
                  a(href="/items") All items
                li
                  a(href="/item/create") Create new Item
            li
              a(href="")
                svg.icon(width="16px", height="16px")
                  include ../public/images/folder-category-icon.svg
                span #[strong Categories]
              ul
                li
                  a(href="/categories") All Categories
                li
                  a(href="/category/create") Create new Category

      .content
        block content

      .rightbar
        p This Inventory Management was made by
          |
          a(href="https://github.com/flaviovisnardifilho") me
          | , using Express, MongoDb.
        p You can find the code
          |
          a(href="https://github.com/flaviovisnardifilho/inventory_management") here
          | .
        p The animations of the menu are a simplification from
          |
          a(
            href="https://codepen.io/rizkykurniawanritonga/pen/VwvOMW?editors=1100"
          ) this codepen
          |
          | by
          a(href="https://codepen.io/rizkykurniawanritonga") Rizky Kurniawan Ritonga
          | .
        p The logo came from
          |
          a(href="https://www.bluewillow.ai/") BlueWillow
          | .

        block rightbar
